/* RESET PAGE */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(241, 246, 246) 
}

/* LAYOUT */
.main-container{
    max-width: 800px;
    background-color: white;
    margin: 50px auto;
    border-radius: 5px;
    /* padding: 20px 40px; */
}


/* HEADER */
.header-container{
    background-color: white;
}

/*set padding top-bottom and left-right*/
.header-container .header-logo{
    padding: 5px 20px; 
}

.header-logo{
    width: 250px;
}

/* MAIN */
/* button style */
.main-buttons{
    padding: 10px 40px;
}

.main-buttons button{
    padding: 5px 10px;
    border-color: rgb(198, 195, 195);
    border-radius: 5px;
}

.first-button{
    background-color: rgb(37, 185, 234);
}

.second-button{
    background-color: white;
}

/* horizontal line between first and second part of maine */
.to-do-list{
    border-top: 1px  solid rgb(209, 220, 224);
    padding: 20px 40px;
}


.downward-triangle{
    font-size: 10px;
    padding:  3px;
}

.check{
    color: green;
    font-size: 10px;
    border: 0.5px solid green;
    border-radius: 50%;
    padding:  3px;
    margin-right: 5px;
}

.editorial{
    font-size: 13px;
    background-color: rgb(36, 173, 241);
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
}


.to-do-list-item{
margin-top: 15px;
}






